header{
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

section {
    margin-top: 80px;
}

body{
    padding-top: 20px;
}

.o_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-color: rgba(173, 181, 189, 0.3);
    border-width: 0.05em;
}

.left, .right {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.cushion {
    padding: 15px;
}

.align {
    margin: 0px auto;
    padding: 0px 48px;
    width: 1136px;
    display: flex;
    flex-wrap: wrap;
}

.first_box {
    width : 260px;
    height: 280px;
    border-radius: 1rem;
    box-shadow: 2px 4px 15px -6px rgba(138,138,138,0.68);
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.pic {
    overflow: hidden;
    height: 200px;
    background-position: center center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    background-repeat: no-repeat;

}

.pic:hover {
    background-size: 120%;
    transition: all 3s;
}

.name {
    padding: 20px 0 0 20px;
    height: 80px;
    font-weight: 900;
    font-size: 25px;
}